// function to determind each column width
@function getColumnWidth($columns, $grid-width, $gutter-width) {
  @return ($grid-width - 60px - ($columns * $gutter-width))/$columns;
}

@mixin border-box($border-color, $border-width, $border-style) {
  border: {
    color: $border-color;
    width: $border-width;
    style: $border-style;
  }
}
