/*
* Assuming gutter width should be divisible by 2, 3, 4, 5, 6, 8, 10, 12. I decided to go with 1080px for gutter width.
* - Grid width is 1080px
* - Gutter width 20px
* - Adjusted 60px included in 1080px
* - 12 * column-width = 1080px - (60px - 12 * gutter-width)
* - column-width = 65px;
*/

@import "general_functions";

// break point at 900px
$breakPoint: 901px;

//grid related mixin
$grid-width: 1080px;
$gutter-width: 20px;
$columns: 12;
$col-width: getColumnWidth($columns, $grid-width, $gutter-width);
$pre-grid-row-class-name: row;
$pre-grid-class-name: grid;

$bodyColor: #cfcfcf;
$lightGrey: #ECF0F1;
$red: #C0392B;
$midnight: #2C3E50;
$white: #FFF;
$black: #000;


// Loop through number of columns to generate grid classes with width
@for $loop from 1 through $columns {
  $width: ($col-width * $columns) + ($gutter-width * ($columns - 1));
  $grid: ($col-width * $loop) + ($gutter-width * ($loop - 1));
  $grid: ($grid / $width) * 100%;
  .#{$pre-grid-class-name}-#{$loop} {
    width: 100%;
    @media(min-width: $breakPoint) {
      width: $grid;
    }
  }
}

@media(min-width: $breakPoint) {
  div[class*="#{$pre-grid-class-name}"] + div[class*="#{$pre-grid-class-name}"] {
    margin-left: 2%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    &>.row {
      padding-left: 0px;
    }
  }
}


//set up for all grid columns
div[class*="#{$pre-grid-class-name}"] {
  display: inline-block;
  margin: 1em 0;
  padding: 0.75rem;
  vertical-align: top;
  @media(min-width: $breakPoint) {
    margin: 0;
  }
}

.row {
  display: block;
  margin: 0;
  padding: 0 1.5rem;
  width: 100%;

  @media(min-width: $breakPoint) {
    margin: 1rem 0;
    padding: 0 1rem;
    [class*="#{$pre-grid-class-name}"]:first-child {
      padding-left: 0px;
    }
  }
}
