nav {
  .mobile-nav {
    @media(min-width: $breakPoint) {
      display: none;
    }
  }
}


nav {
  @media(max-width: $breakPoint) {
    .desktop {
      display: none;
    }
    .row {
      .mobile-nav {
        display: block;
      }
      .mobile-menu {
        display: none;
      }
      .mobile-menu {
        height: 0%;
        position: fixed;
        color: $white;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        color: $white;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        a {
          color: $white;
        }
        ul {
          position: relative;
          top: 10%;
          width: 100%;
          text-align: center;
          li {
            padding: 0.75rem 0;
            line-height: 1rem;
            display: block;
            a {
              text-decoration: none;
              display: block;
              color: $white;
              &:hover, &:focus {
                text-decoration: underline;
              }
            }
          }
        }
        .close-icon {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 1.5rem;
          text-decoration: none;
        }
      }
    }
  }
}
