@import 'grid';

// Container content width limit to display content for bigger viewport devices
$container_width: 1200px;

// Box sizing to control width of the box
$boxSizing: border-box;

// Global font family used for this project
$font-family: sans-serif;

//colors
$bodyColor: #cfcfcf;
$white: #FFF;
$black: #000;
$main-content-background: #FFF;
$main-content-min-height: 605px;
$main-content-font-color: #000;
$nav-each-link-padding-right: 2rem;

// website important width
* {
  -webkit-box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  box-sizing: $boxSizing;
}

body {
  background: $bodyColor;
  font-family: $font-family;
  font-size:  100%;
  margin: 0;
  padding: 0;
}

header {
  background: $black;
  .#{$pre-grid-row-class-name} {
    margin: 0px;
    .logo {
      color: $white;
      font-size: 2.1875rem;
      padding: 32.5px 0px;
      margin: 0px;
    }
  }
}

.list-style-control {
  .#{$pre-grid-row-class-name} {
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
  }
}

footer {
  .container {
    .#{$pre-grid-row-class-name} {
      @extend .list-style-control;
      @media(min-width: $breakPoint) {
        ul {
          li {
            display: inline-block;
            &:not(:first-child) {
              &:before  {
                content: " | ";
                padding-left: 1rem;
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

nav {
  .container {
    .#{$pre-grid-row-class-name} {
      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
          display: inline-block;
          padding-right: $nav-each-link-padding-right;
          a {
            color: $main-content-font-color;
            text-decoration: none;
            &.active {
              text-decoration: underline;
            }
          }
        }
        &>li:last-child {
          padding-right: 0px;
        }
      }
    }
  }
}
.big-font {
  font-size: 2.25rem;
  padding: 0 2.25rem;
  text-align: center;
}
main {
  &>.container{
    background: $main-content-background;
    min-height: $main-content-min-height;
    font-size: 0.75rem;
    color: $main-content-font-color;
    .section-title {
      padding:32px 0px 0px;
      h1 {
        padding: 0px;
        margin: 0px;
        font-size: 1.286rem;
        font-weight: bold;
      }
    }
    p {
      line-height: 1rem;
    }

  }
}

.form-control {
  display: inline-block;
  width: 100%;
  height: 2.1875rem;
  font-size: 0.875rem;
  @include border-box($black, 1px, solid);
}

label {
  &.form-control {
    height: 1.5rem;
    line-height: 1.5rem;
    @include border-box($black, 0px, solid);
  }
}

.btn {
  @extend .form-control;
  @include border-box($black, 2px, solid);
  background: none;
  font-weight: bold;
}

.black-box {
  position: relative;
  background-color: $black;
  color: $white;
  padding: 2.25rem;
  height: 330px;
  p {
    position: absolute;
    bottom: 0;
    padding-bottom: 2.75rem;
    padding-right: 2.25rem;
  }
}
.learn-more {
  @extend .btn;
  text-align: center;
  height: 3.5rem;
  line-height: 3.5rem;
  margin-top: 1rem;
}

@media(min-width: $breakPoint) {
  main {
    .#{$pre-grid-class-name} {
      &>[class*="#{$pre-grid-class-name}"]:first-child {
        padding-left: 0.75rem;
        margin-left: -0.75rem;
        [class*="#{$pre-grid-class-name}"]:last-child {
          padding-right:0px;
        }
      }
      [class*="#{$pre-grid-row-class-name}"] {
        padding: 0px;
        margin: 0px;
      }
    }
    .child-#{$pre-grid-row-class-name} {
      margin: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      &>[class*="#{$pre-grid-class-name}"] {
        padding-top: 0px;
      }
    }
    &.page-contact {
      p.contact-right-column-content {
        padding-top: 1.5rem;
      }
    }
    .contact-form {
      margin-left: 0px !important;
      padding-left: 0px !important;
    }
  }
}


@import 'mobile_header_navigation';
@import 'mobile_body';
@import 'mobile_footer';

@media(min-width: $breakPoint) {
  .show-desktop {
    display: inline-block !important;
  }
  .show-mobile {
    display: none !important;
  }
}

@media(max-width: $breakPoint) {
  .show-desktop {
    display: none !important;
  }
  .show-mobile {
    display: block !important;
  }
  main {
    &.page-about {
      .section-title {
        padding-top: 0px;
      }
    }
  }
}
