@media(max-width: $breakPoint) {
  footer {
    .container {
      ul {
        li {
          display: block;
          width: 100%;
          padding-bottom: 0.75rem;
          text-align: center;
        }
      }
    }
  }
}
