$mobile-padding-left-right: 0px;
$mobile-first-row-padding-top: 0px;
@media(max-width: $breakPoint) {
  main {
    .container {
      padding: 0px 24px 24px;
      min-height: auto;
      .section-title {
        padding: 24px 0px;
      }
      .#{$pre-grid-row-class-name} {
        padding-left: $mobile-padding-left-right;
        padding-right: $mobile-padding-left-right;
        [class*="#{$pre-grid-class-name}"] {
          padding-left: $mobile-padding-left-right;
          padding-right: $mobile-padding-left-right;
        }
      }
      &:first-child .#{$pre-grid-row-class-name} {
        padding-top: $mobile-first-row-padding-top;
        [class*="#{$pre-grid-class-name}"] {
          padding-top: 0px;
          margin-top: 0px;
        }
      }
      .learn-more {
        margin-top: 0rem;
      }
    }
    &.page-contact {
      .contact-right-column-content {
        margin-bottom: -1.5rem;
      }
    }
  }
}
