/*
* Assuming gutter width should be divisible by 2, 3, 4, 5, 6, 8, 10, 12. I decided to go with 1080px for gutter width.
* - Grid width is 1080px
* - Gutter width 20px
* - Adjusted 60px included in 1080px
* - 12 * column-width = 1080px - (60px - 12 * gutter-width)
* - column-width = 65px;
*/
.grid-1 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-1 {
      width: 6.5%; } }

.grid-2 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-2 {
      width: 15%; } }

.grid-3 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-3 {
      width: 23.5%; } }

.grid-4 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-4 {
      width: 32%; } }

.grid-5 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-5 {
      width: 40.5%; } }

.grid-6 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-6 {
      width: 49%; } }

.grid-7 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-7 {
      width: 57.5%; } }

.grid-8 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-8 {
      width: 66%; } }

.grid-9 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-9 {
      width: 74.5%; } }

.grid-10 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-10 {
      width: 83%; } }

.grid-11 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-11 {
      width: 91.5%; } }

.grid-12 {
  width: 100%; }
  @media (min-width: 901px) {
    .grid-12 {
      width: 100%; } }

@media (min-width: 901px) {
  div[class*="grid"] + div[class*="grid"] {
    margin-left: 2%; }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px; }
    .container > .row {
      padding-left: 0px; } }

div[class*="grid"] {
  display: inline-block;
  margin: 1em 0;
  padding: 0.75rem;
  vertical-align: top; }
  @media (min-width: 901px) {
    div[class*="grid"] {
      margin: 0; } }

.row {
  display: block;
  margin: 0;
  padding: 0 1.5rem;
  width: 100%; }
  @media (min-width: 901px) {
    .row {
      margin: 1rem 0;
      padding: 0 1rem; }
      .row [class*="grid"]:first-child {
        padding-left: 0px; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #cfcfcf;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0; }

header {
  background: #000; }
  header .row {
    margin: 0px; }
    header .row .logo {
      color: #FFF;
      font-size: 2.1875rem;
      padding: 32.5px 0px;
      margin: 0px; }

.list-style-control .row ul, footer .container .row .row ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

@media (min-width: 901px) {
  footer .container .row ul li {
    display: inline-block; }
    footer .container .row ul li:not(:first-child):before {
      content: " | ";
      padding-left: 1rem;
      padding-right: 1rem; } }

nav .container .row ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  nav .container .row ul li {
    display: inline-block;
    padding-right: 2rem; }
    nav .container .row ul li a {
      color: #000;
      text-decoration: none; }
      nav .container .row ul li a.active {
        text-decoration: underline; }
  nav .container .row ul > li:last-child {
    padding-right: 0px; }

.big-font {
  font-size: 2.25rem;
  padding: 0 2.25rem;
  text-align: center; }

main > .container {
  background: #FFF;
  min-height: 605px;
  font-size: 0.75rem;
  color: #000; }
  main > .container .section-title {
    padding: 32px 0px 0px; }
    main > .container .section-title h1 {
      padding: 0px;
      margin: 0px;
      font-size: 1.286rem;
      font-weight: bold; }
  main > .container p {
    line-height: 1rem; }

.form-control, .btn, .learn-more {
  display: inline-block;
  width: 100%;
  height: 2.1875rem;
  font-size: 0.875rem;
  border-color: #000;
  border-width: 1px;
  border-style: solid; }

label.form-control, label.btn, label.learn-more {
  height: 1.5rem;
  line-height: 1.5rem;
  border-color: #000;
  border-width: 0px;
  border-style: solid; }

.btn, .learn-more {
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  background: none;
  font-weight: bold; }

.black-box {
  position: relative;
  background-color: #000;
  color: #FFF;
  padding: 2.25rem;
  height: 330px; }
  .black-box p {
    position: absolute;
    bottom: 0;
    padding-bottom: 2.75rem;
    padding-right: 2.25rem; }

.learn-more {
  text-align: center;
  height: 3.5rem;
  line-height: 3.5rem;
  margin-top: 1rem; }

@media (min-width: 901px) {
  main .grid > [class*="grid"]:first-child {
    padding-left: 0.75rem;
    margin-left: -0.75rem; }
    main .grid > [class*="grid"]:first-child [class*="grid"]:last-child {
      padding-right: 0px; }
  main .grid [class*="row"] {
    padding: 0px;
    margin: 0px; }
  main .child-row {
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }
    main .child-row > [class*="grid"] {
      padding-top: 0px; }
  main.page-contact p.contact-right-column-content {
    padding-top: 1.5rem; }
  main .contact-form {
    margin-left: 0px !important;
    padding-left: 0px !important; } }

@media (min-width: 901px) {
  nav .mobile-nav {
    display: none; } }

@media (max-width: 901px) {
  nav .desktop {
    display: none; }
  nav .row .mobile-nav {
    display: block; }
  nav .row .mobile-menu {
    display: none; }
  nav .row .mobile-menu {
    height: 0%;
    position: fixed;
    color: #FFF;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden; }
    nav .row .mobile-menu a {
      color: #FFF; }
    nav .row .mobile-menu ul {
      position: relative;
      top: 10%;
      width: 100%;
      text-align: center; }
      nav .row .mobile-menu ul li {
        padding: 0.75rem 0;
        line-height: 1rem;
        display: block; }
        nav .row .mobile-menu ul li a {
          text-decoration: none;
          display: block;
          color: #FFF; }
          nav .row .mobile-menu ul li a:hover, nav .row .mobile-menu ul li a:focus {
            text-decoration: underline; }
    nav .row .mobile-menu .close-icon {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 1.5rem;
      text-decoration: none; } }

@media (max-width: 901px) {
  main .container {
    padding: 0px 24px 24px;
    min-height: auto; }
    main .container .section-title {
      padding: 24px 0px; }
    main .container .row {
      padding-left: 0px;
      padding-right: 0px; }
      main .container .row [class*="grid"] {
        padding-left: 0px;
        padding-right: 0px; }
    main .container:first-child .row {
      padding-top: 0px; }
      main .container:first-child .row [class*="grid"] {
        padding-top: 0px;
        margin-top: 0px; }
    main .container .learn-more {
      margin-top: 0rem; }
  main.page-contact .contact-right-column-content {
    margin-bottom: -1.5rem; } }

@media (max-width: 901px) {
  footer .container ul li {
    display: block;
    width: 100%;
    padding-bottom: 0.75rem;
    text-align: center; } }

@media (min-width: 901px) {
  .show-desktop {
    display: inline-block !important; }
  .show-mobile {
    display: none !important; } }

@media (max-width: 901px) {
  .show-desktop {
    display: none !important; }
  .show-mobile {
    display: block !important; }
  main.page-about .section-title {
    padding-top: 0px; } }
